一、绪论
    1.引言
    随着我国经济的高速发展和科学技术的不断提高，隧道工程的建设也开始蓬勃发展，例如，中国公路隧道的建设从20世纪的50年代仅有30多座发展到21世纪初已经有2900多座[1]，但是由于隧道工程所处的地理位置多是复杂多变的地形，尤其是较长和较大的隧道地质信息更是难以掌握，施工条件相对于地面建筑要差很多，导致施工人员的生命和财产都受到了极大的威胁。在隧道施工期间难免因为人为或自然原因出现差错，因此在施工完成后，也要对隧道进行全面的监控和管理，以保证过往车辆的畅通无阻和人民生命财产的安全。
隧道监测与控制系统通过对隧道的实时监测，对采集到的数据进行处理和分析，将结果及时反馈到控制系统，以保证隧道的安全性，进而达到保护人民生命财产安全和延长隧道设备使用年限的目的。

2.课题研究背景及意义
在我国早期的隧道建设中，由于经济不景气，技术相对落后，同时中国又是世界上地形最为复杂的国家之一，导致隧道的建设施工难度十分高，并且建成的隧道出现了各种各样的问题，比如隧道的拱部开裂，隧道渗漏水，隧道内空气不流通，隧道照明系统经常出现故障，隧道出入口缺少必要信息，等等问题。这些问题不仅仅影响了隧道的使用寿命，同时对人的生命财产安全也是一个极大的隐患。如何对现在还在使用的和正在建设的隧道进行监测与维护是当前隧道建设的重点和难点。
步入21世纪以来，我国的经济迅速发展，科学技术水平不断提高，隧道建设的能力也在不断提高。人们对隧道的适用性，安全性和舒适程度都有了更高的要求。比如要保证高峰期隧道的流通，隧道照明要明亮舒适，隧道内空气质量要达标，隧道出入口要有明显的标识和重要信息的及时更新提示等等要求。同时隧道的设计要符合更加严格的标准。比如，在隧道建设期间要对隧道周围的地表水和地下水进行调查和研究[2]，要保证隧道建设所处的岩石区域不会因为隧道周围水域的影响而崩塌。要对隧道开发地段的岩石进行等级划分，以保证隧道建设区域的稳定性和坚固性。
因此，一个良好的隧道监测与控制系统不仅能提高隧道的使用寿命，更重要的是能有效保护过往车辆的安全性。
拥有一个稳定，有效的隧道监测与控制系统相对于没有监测与控制系统的隧道有很多优势，比如有如下优势：
(1)	良好的隧道照明系统可以极大提高隧道行车的安全性。
(2)	隧道通风系统可以有效监测隧道内空气质量，及时改善空气质量。
(3)	隧道出入口可变情报板能及时提供重要信息给过往车辆。
(4)	隧道交通灯控制系统能高效指挥过往车辆通行。
(5)	隧道雷达监测系统可根据车流量智能照明，节省能源。

    本课题采用B/S架构开发隧道综合监测与控制系统，采用Java语言作为主要开发语言，采用Swing作为图形开发界面的GUI，使用485协议作为上位机与下位机的通信协议。使用面向对象的思想开发程序。

二、
